#container {
  display: grid;
  width: 1000px;
  height: 1000px;
  border: 1px solid blue;
  /* grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr); */
  grid-template: repeat(5, 1fr) / repeat(5, 1fr);
}

/* .box-1 {
  grid-column-start: 2;
  grid-row-start: 2;
} */

.box-1 {
  /* grid-column-start: 2;
  grid-column-end: 5; */
  /* grid-column: 2 / 5; */
  /* grid-row-start: 3; */
  /* grid-row-start: 2;
  grid-row-end: 4; */
  /* grid-row: 2 / 4; */
  grid-column: 1 / 3;
  grid-row: 2 / 4;
}

.box-2 {
  grid-column: 2 / 5;
  grid-row: 4 / 5;
}

.box-3 {
  grid-column: 3 / 4;
  grid-row: 1 / 4;
}

/* The shorthand grid-row is equivalent to using grid-row-start and grid-row-end, and the shorthand grid-column is equivalent to using grid-column-start and grid-column-end. */

#container-2 {
  margin-top: 20px;
  display: grid;
  width: 1000px;
  height: 1000px;
  border: 1px solid blue;
  /* grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr); */
  grid-template: repeat(5, 1fr) / repeat(5, 1fr);
}

.box-4 {
  /* grid-area: 3/4/6/5; */
  /* grid-row-start: span 5; */
  grid-row: 1 / span 5;
}

.box-6 {
  grid-column: 3 / span 3;
}

.box-5 {
  grid-row: 3 / span 3;
  grid-column: 4 / span 2;
}
