#container{
    width: 80%;
    height: 1000px;
    border: 1px solid red;
    display: grid;
    /* grid-template-columns: minmax(200px, 500px) minmax(200px, 500px); */
    /* grid-template-columns: repeat(3, minmax(200px, 1fr)); */
    /* grid-template-columns: minmax(0.5fr, 1fr) minmax(300px, 500px) minmax(0.5fr, 1fr); */
    /* grid-template-columns: repeat(4, 1fr); */
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: 
      "b c c d"
      "b e e f"
      "g g g f"
      "h h h h"
      "a a a a";
}
.box-1 {
    background-color: rgb(8, 147, 100);
    grid-area: b;
}
.box-2 {
    background-color: rgb(229, 255, 127);
    grid-area: c;
}
.box-3 {
    background-color: rgb(127, 131, 255);
}
.box-4 {
    background-color: rgb(24, 31, 229);
}
.box-5 {
    background-color: rgb(5, 5, 32);
}
.box-6 {
    background-color: rgb(255, 127, 191);
}
.box-7 {
    background-color: rgb(127, 255, 236);
}
.box-8 {
    background-color: rgb(103, 103, 105);
}
.box-9 {
    background-color: rgb(93, 184, 36);
}
.box-10 {
    background-color: rgb(222, 75, 8);
}
/* Grid with media queries  */
@media (max-width: 1500px){
    #container {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 800px){
    #container {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 500px) {
  #container {
    grid-template-columns: 1fr;
  }
}

/* 
AD
MAIN CONTENT 
ASIDE 
FOOTER 
 */

.container{
    width: 100%;
    height: 600px;
    border: 1px solid rgb(15, 248, 30);
    display: grid;
    grid-template-areas: 
    "ad main aside"
    /* "AD MAIN CONTENT ASIDE" */
    "footer footer footer"
    ;
    gap: 8px;
    margin-top: 20px;
    

}

.box-one {
    display: flex;
    background-color: rgb(222, 75, 8);
    grid-area: ad;
    align-items: center;
    padding-left: 60px;
    font-size: 2rem;
    font-weight: 800;

    /* text-align: center; */
}
.box-two {
    display: flex;
    background-color: rgb(24, 80, 199);
    grid-area: main;
    text-align: center;
    align-items: center;
    padding-left: 60px;
    font-size: 2rem;
    font-weight: 800;
}
.box-three {
    display: flex;
    background-color: rgb(218, 225, 16);
    grid-area: aside;
    text-align: center;
    align-items: center;
    padding-left: 60px;
    font-size: 2rem;
    font-weight: 800;
}
.box-four {
    display: flex;
    background-color: rgb(30, 205, 228);
    grid-area: footer;
    text-align: center;
    align-items: center;
    padding-left: 300px;
    font-size: 2rem;
    font-weight: 800;
    
}