#container {
  width: 500px;
  height: 500px;
  border: 1px solid blue;
  margin: 0 auto;
  display: grid;
  /* grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr); */
  grid-template: repeat(4, 1fr) / repeat(5, 1fr);
  column-gap: 10px;
  row-gap: 10px;
}
