
h1{
    color: red;
}
:root{
    --standard-width: 100%;
    --standard-height: 400px;
    --child-width: 200px;
    --child-height: 200px;
    --standard-background-color: blue;
    --standard-color: #fff;
    --standard-border: 1px dashed #fff;
    --standard-margin: 2rem;
    --standard-padding: 1rem;
    --flex-item-height: 70px;
    --flex-item-width: 200px;
}
/* What is CSS Flexbox?
The Flexible Box Layout module introduces a one-dimensional layout system that handles space distribution and item alignment effectively. It works seamlessly for horizontal (row) or vertical (column) arrangements, making it a go-to solution for responsive designs.

Key Features of CSS Flexbox
Alignment: Easily aligns items along the main axis (row/column) or cross-axis (perpendicular direction).
Space Distribution: Distributes space among items or gaps dynamically within a container.
Responsive Design: Adapts to screen sizes without extra effort, perfect for modern web layouts. */

/* Flexbox Axes
Flexbox operates on two axes:

Main Axis: Runs from left to right by default.
Cross Axis: Perpendicular to the main axis, runs from top to bottom. */

/* Flex Direction Properties
Left to Right: flex-direction: row;
Right to Left: flex-direction: row-reverse;
Top to Bottom: flex-direction: column;
Bottom to Top: flex-direction: column-reverse; */

/* Aligning and Justifying Content
Flexbox provides several properties for aligning and justifying content within the container:

justify-content: Aligns items along the main axis (e.g., flex-start, flex-end, center, space-between, space-around).
align-items: Aligns items along the cross axis (e.g., stretch, center, flex-start, flex-end).
align-content: Aligns rows within a flex container when there is extra space on the cross axis. */

.flexy{
    width: var(--standard-width);
    height: var(--standard-height);
    border: var(--standard-border);

}

.flexy{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-end;
    /* flex-direction: row-reverse; */
    /* flex-direction: column; */
    /* flex-direction: column-reverse; */
    /* justify-content: space-between; */
    /* justify-content: space-around; */
    /* justify-content: center; */
    /* justify-content: flex-end; */
    /* justify-content: flex-start; */
    /* align-items: center; */
    /* align-items: stretch; */
    /* align-items: flex-end; */
    /* align-items: flex-start; */
    border: 1px solid red;
    padding: 2rem;
    
}

.flex-1{
     border: 1px solid yellow;
     width: var(--flex-item-width);
     height: var(--flex-item-height);
     background-color: yellowgreen;
     color: var(--standard-color);
}
.flex-2{
     border: 1px solid rgb(224, 11, 64);
     width: var(--flex-item-width);
     height: var(--flex-item-height);
     background-color: brown;
     color: var(--standard-color);
}
.flex-3{
     border: 1px solid rgb(7, 203, 85);
     width: var(--flex-item-width);
     height: var(--flex-item-height);
     background-color: chartreuse;
     color: var(--standard-color);
}

.navbar{
    display: flex;
    margin-top: 2rem;
    justify-content: flex-end;

}
.navbar > a{
     margin: 0.8rem;
     text-decoration: none;
}
.navbar>a:hover{
    color: red;
}

.container{
    display: inline-flex;
}

/* The place-content Property
If you need to use both the justify-content and align-content properties, you use the place-content shorthand property.

It can take one or two values. When you give it a single value, the browser will apply the same value for both justify-content and align-content.

And when you give 2 values for place-content, the first value will be for align-content and the second for justify-content. */

.container-2{
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    /* align-content: space-around; */
    /* justify-content: space-around; */
    /* place-content: align-content justify-content; */
    place-content: space-around space-around;
    width: 400px;
    height: 300px;
    border: 1px solid red;
}

#red-1{
    background-color: red;
    width: 50px;
    height: 50px;
}
#gold-2{
    background-color: gold;
    width: 50px;
    height: 50px;
}
#green-3{
    background-color: green;
    width: 50px;
    height: 50px;
}