/* body{
    font-size: 0.5rem;
}

@media screen and (min-width: 600px){
    body{
        font-size: 2rem;
    }
} */

.container{
    width: 100%;
    height: 50vh;
    background-color: red;
}

@media screen and (min-width: 768px) {
    .container{
        max-width: 768px;
    }
    
}

nav{
    display: block;
    margin-top: 20px;
    font-size: 1.25rem;
}

@media screen and (min-width: 768px) {
    nav{
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    
}