/* .container {
  display: grid; */
/* grid-template-columns: 5em 100px 30%; */
/* grid-template-columns: 1fr 1fr 1fr; */
/* grid-template-columns: repeat(3, 1fr); */
/* grid-template-columns: 200px repeat(2, 1fr 2fr) 200px;
  grid-template-rows: 100px auto;
  width: 300px;
  height: 300px;
  border: 1px dashed rebeccapurple;
} */
/* .grid-1 {
  background-color: red;
  width: 50px;
  height: 50px;
}
.grid-2 {
  background-color: rgb(0, 64, 255);
  width: 50px;
  height: 50px;
}
.grid-3 {
  background-color: rgb(51, 255, 0);
  width: 50px;
  height: 50px;
}
.grid-4 {
  background-color: rgb(255, 0, 170);
  width: 50px;
  height: 50px;
}
.grid-5 {
  background-color: rgb(0, 208, 255);
  width: 50px;
  height: 50px;
}
.grid-6 {
  background-color: rgb(156, 180, 36);
  width: 50px;
  height: 50px;
} */

#container {
  display: grid;
  /* grid-template-columns: 200px 100px 200px; */
  grid-template-columns: 250px 250px 250px 250px;
  margin: 0 auto;
  /* width: 90%; */
  width: 100px;
  height: 1000px;
  border: 1px solid black;
}

#container-2 {
  margin-top: 20px;
  width: 1000px;
  height: 500px;
  border: 4px dashed blue;
  display: grid;
  /* grid-template-columns: 300px 300px 300px; */
  grid-template-rows: 100px 100px 100px;
}
