#container {
  display: grid;
  height: 600px;
  width: 100%;
  border: 1px dashed red;
  grid-template-columns: repeat(5, 200px);
  /* grid-template-rows: 2fr 1fr 1fr 1fr 1fr 1fr 2fr; */
  grid-template-rows: repeat(5, 200px);
  grid-auto-columns: 400px;
  grid-auto-rows: 300px;
  grid-auto-flow: column;
  grid-gap: 10px;
}

.wide-one {
  background-color: aqua;
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}
.box-one {
  background-color: aqua;
  grid-column: 4 / 5;
  grid-row: 1 / 2;
}
.box {
  background-color: aqua;
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}
.wide-two {
  background-color: aqua;
  grid-column: 1 / 3;
  grid-row: 2 / 3;
}
.wide-tall {
  background-color: aqua;
  grid-column: 4 / 6;
  grid-row: 2 / 4;
}
.tall {
  background-color: aqua;
  grid-column: 1 / 2;
  grid-row: 3 / 5;
}
.tall-one {
  background-color: aqua;
  grid-column: 3 / 4;
  grid-row: 1 / 3;
}
.wide-last {
  background-color: aqua;
  grid-column: 2 / 4;
  grid-row: 4 / 5;
}
.nine {
  background-color: aqua;
}
.ten {
  background-color: aqua;
}
.eleven {
  background-color: aqua;
}
.twelve {
  background-color: aqua;
}
.thirteen {
  background-color: aqua;
}
.fourteen {
  background-color: aqua;
}
.fifteen {
  background-color: aqua;
}
.sixteen {
  background-color: aqua;
}
